password="Raja2006@@"

# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# MySQL credentials
*.sql.bak # Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# MySQL credentials
*.sql.bak